{% assign education = site.data.data.education %}
<section>
    <h1>{{ education.title }}</h1>
    <div class="thirteen columns">
        {% for graduation in education.qualification %}
        <article>
            <header>
                <h1>{{ graduation.degree }}</h1>
                <span>{{ graduation.university }}<time>{{ graduation.time }}</time></span>
                <span><address>{{ graduation.address }}</address></span>
            </header>
            {% if graduation.details %}
            <p>
                {{ graduation.details | markdownify }}
            </p>
            {% endif %}
        </article>
        {% endfor %}
    </div>
    
</section>
