{% assign projects = site.data.data.projects %}
{% if projects %}
<section>
    <h1>{{ projects.title }}</h1>
    <div class="thirteen columns">
        {% if projects.intro %}
          <div class="intro">
              <p>{{ projects.intro }}</p>
          </div><!--//intro-->
        {% endif %}

        {% for project in projects.assignments %}
        <article>
            <header>
                <h1>{{ project.title }}</h1>
                <span>
                    <address>
                        {% if project.gitlink %}
                            <a href="{{ project.gitlink }}"><i class="fab fa-github"></i> Github</a>
                        {% endif %} 
                        {% if project.link %}
                            / <a href="{{ project.link }}"><i class="fas fa-globe-asia"></i> Link</a>
                        {% endif %}
                        {% if project.playlink %}
                            / <a href="{{ project.playlink }}"><i class="fab fa-google-play"></i> Playstore</a>
                        {% endif %}
                    </address>
                </span>
            </header>

            {% if project.tagline %}
            <p>{{ project.tagline | markdownify }}</p>
            {% endif %}
        
        </article>
        {% endfor %}
    </div>
</section>
{% endif %}