{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <img src="{{ sidebar.baseurl }}static/img/{{ sidebar.avatar }}" class="me">
  <h1>{{ sidebar.name }}</h1>
  <h4>{{ sidebar.tagline }}</h4><br>
  <p>
      <a href="{{ sidebar.website_full }}"><i class="fas fa-globe-asia"></i> {{ sidebar.website }}</a><br/>
      <a href="{{ sidebar.email_full }}"><i class="fab fa-google"></i> {{ sidebar.email }}</a><br/>
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}"><i class="fab fa-linkedin"></i> {{ sidebar.linkedin }}</a><br/>
      <a href="https://github.com/{{ sidebar.github }}"><i class="fab fa-github"></i> {{ sidebar.github }}</a>
  </p>
        

</div><!--//sidebar-wrapper-->
