{% assign skills = site.data.data.skills %}
<section>
    <h1>{{ skills.title }}</h1>
    <article>
        {% for skill in skills.toolset %}
          <div class="thirteen columns progressBar">
            <div class="two columns">
                <h4>{{ skill.name }}</h4>
            </div>
            <div class="eleven columns progressBarContainer">
              <div class="progressBarValue value-{{ skill.level }}"></div>
            </div>
          </div>
        {% endfor %}
    </article>
</section>